<div id="headertop">
			<div id="usual_bar">
				<div id="static_bar">
					<img src="{{  asset('images/separateur.jpg') }}" style="float: left;"/>
					<img class="icon" src="{{  asset('images/player.png') }}"/>
					<div class="label" title="{% for user in onlineusers %}{{user.player}} {% endfor %}">
					Connectés : <strong>{{ connected }}/200</strong></div>
					<img class="icon" src="{{  asset('images/player.png') }}"/>
					<div class="label">Joueurs : <strong>{{ totalplayers }}</strong></div>
					<img class="icon" src="{{  asset('images/visite.png') }}"/>
					<div class="label">Version : <strong>{{ version }}</strong></div>
					<a href="{{ facebook }}" title="Facebook"><img class="icon" src="{{  asset('images/fb.png') }}"/></a>
					<a href="{{ twitter }}" title="Twitter"><img class="icon" style="margin-left:0px;" src="{{  asset('images/twitter.png') }}"/></a>
					<a href="{{ youtube }}" title="YouTube (MaxteamFR)"><img class="icon" style="margin-left:0px;" src="{{  asset('images/youtube.png') }}"/></a>
					
					<form style="margin-top:5px; float:left;" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_donations">
<input type="hidden" name="business" value="maximilien.duret@gmail.com">
<input type="hidden" name="lc" value="FR">
<input type="hidden" name="item_name" value="TheHungerCraft">
<input type="hidden" name="item_number" value="1">
<input type="hidden" name="no_note" value="0">
<input type="hidden" name="currency_code" value="EUR">
<input type="hidden" name="bn" value="PP-DonationsBF:btn_donate_SM.gif:NonHostedGuest">
<input type="image" src="https://www.paypalobjects.com/fr_FR/FR/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - la solution de paiement en ligne la plus simple et la plus sécurisée !">
<img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
</form>


					
					<img src="{{  asset('images/separateur.jpg') }}" style="float: left;"/>
					{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
					<a style="color:#EEEEEE";  href="">
					<img class="icon" src="https://minotar.net/avatar/{{ app.user.username }}/25"/>
					<div class="label"><strong>{{ app.user.username }}</strong></div>
					</a>
					
					<a href="{{ path('logout') }}"><img class="icon" width="26" height="26" src="{{  asset('images/exit.png') }}"/></a>
					{% endif %}
					<img src="{{  asset('images/separateur.jpg') }}" style="float: right;"/>
					
				</div>
				

			</div>
		</div>