<div class="ribbon-wrapper" >

		<div class="ribbon-front" id="menu">
		
		
{% if  is_granted("IS_AUTHENTICATED_REMEMBERED") %}
	<ul>
			<a href="{{ path('index') }}"><li class="mainmenu" style="width:132px;">Accueil</li></a>
			<li class="mainmenu">Mon perso {% if alert %}<span class="alertpin" >(!)</span>{% endif %}
			
				<ul class="submenu">
				<a href="{{ path('profil', {'pseudo': app.user.username}) }}"><li>Profil</li></a>
				<a href="{{ path('profil', {'pseudo': app.user.username}) }}#parcellelist"><li>Mes parcelles</li></a>
				
				{% if app.user.faction %}
				
				<a href="{{ path('faction', {'tag': app.user.faction.tag}) }}"><li>{{ app.user.faction.tag }}</li></a>
				{% else %}
				<a href="{{ path('newfaction') }}"><li>Créer une faction</li></a>
				{% endif %}
				
				<a href="{{ path('myalbums') }}"><li>Mes screens</li></a>
				
				{% if nbmp %}
				<a href="{{ path('mp') }}"><li style="font-weight:bold;">Messages ({{ nbmp }})</li></a>
				{% else %}
				<a href="{{ path('mp') }}"><li>Messages (0)</li></a>
				{% endif %}
				
				{% if nbnotif %}
				<a href="{{ path('notifs') }}"><li style="font-weight:bold;">Notifications ({{ nbnotif }})</li></a>
				{% else %}
				<a href="{{ path('notifs') }}"><li>Notifications (0)</li></a>
				{% endif %}
				
				<a href="{{ path('parameters') }}"><li>Paramètres</li></a>
				<a href="{{ path('bugreport') }}"><li>Reporter bug</li></a>
				</ul>
				
			</li>
			
			<li class="mainmenu">Infos
				<ul class="submenu">
				<a target="_BLANK" href="{{ mapurl }}"><li>La map</li></a>
				<a href="{{ path('players') }}"><li>Les joueurs</li></a>
				
				<a href="{{ path('factions') }}"><li>Les factions</li></a>
				<a href="{{ path('donjons') }}"><li>Les donjons</li></a>
				
				<a href="{{ path('ventes') }}"><li>Zones à vendre</li></a>
				<a href="{{ path('commerces') }}"><li>Commerces</li></a>
				<a href="{{ path('shops') }}"><li>Shops</li></a>
			
				
				<a href="{{ path('guide', {'page': 'administration'}) }}"><li>L' équipe</li></a>
				</ul>
			
			</li>
			
		<div id="maxcraft"></div>
		
			
			
			<a target="_BLANK" href="http://forum.maxcraft.fr"><li class="mainmenu" style="width:131px;">Forums</li></a>
			
			
			
			<li class="mainmenu" style="width:132px;">Le guide
			
				<ul class="submenu">
				
				{% for page in pages %}
				
				<a href="{{ path('guide', {'page': page.route}) }}"><li>{{ page.titre }}</li></a>
				{% endfor %}
				
				</ul>
			</li>
			

			
			<a href="{{ path('vote') }}"><li class="mainmenu">Voter</li></a>
			
		
			
		</ul>

{% else %}

			<ul>
			<a href="{{ path('index') }}"><li class="mainmenu" style="width:132px;">Accueil</li></a>
			<li class="mainmenu">Infos
			
			<ul class="submenu">
			<a href="{{ path('register') }}"><li>Nous rejoindre </li></a>
			<a href="{{ path('players') }}"><li>Les joueurs</li></a>
			<a href="{{ path('factions') }}"><li>Les factions</li></a>
			<li>[x] Les guerres</li>
			<a href="{{ path('donjons') }}"><li>Les donjons</li></a>
			<a href="{{ path('donjons') }}"><li>[x] Objectifs</li></a>
			<a href="{{ path('guide', {'page': 'administration'}) }}"><li>L' équipe</li></a>
			</ul>
			
			</li>
			<a target="_BLANK" href="{{ mapurl }}"><li class="mainmenu">La map</li></a>
			
		<div id="maxcraft"></div>
		
			<li class="mainmenu">Le guide
			
			<ul class="submenu">
			
				{% for page in pages %}
				
				<a href="{{ path('guide', {'page': page.route}) }}"><li>{{ page.titre }}</li></a>
				{% endfor %}
			</ul>
			
			</li>
			<li class="mainmenu">Economie
			
			<ul class="submenu">
			<a href="{{ path('ventes') }}"><li>Zones à vendre</li></a>
			<a href="{{ path('commerces') }}"><li>Commerces</li></a>
			<a href="{{ path('shops') }}"><li>Shop</li></a>

			</ul>
			
			</li>
			<a href="{{ path('register') }}"><li class="mainmenu" style="width:132px;">S'inscrire</li></a>
			
			</ul>
			
			{% endif  %}
			
		</div>
		
				<div class="ribbon-edge-topleft"></div>
		<div class="ribbon-edge-topright"></div>
		<div class="ribbon-edge-bottomleft"></div>
		<div class="ribbon-edge-bottomright"></div>

	</div>